In [8]:
import streamlit as st
import pandas as pd
from sqlalchemy import create_engine
import plotly.graph_objects as go
import os
import json
import plotly.express as px
import numpy as np

def load_credentials(path = "aws_rds_credentials.json"):
     with open(path, 'r') as file:
          config = json.load(file)

     # set up credentials
     for key in config.keys():
          os.environ[key] = config[key]

     return


load_credentials()

aws_rds_url = f"postgresql://{os.environ['user']}:{os.environ['password']}@{os.environ['host']}:{os.environ['port']}/{os.environ['database']}?sslmode=require"

# Load a sample dataset
def load_data():
    engine = create_engine(aws_rds_url)
    sql_query = f"""SELECT catalog_id, date, brand_title, AVG(price_numeric) as avg_price 
                    FROM public.tracking_staging 
                    WHERE date >= CURRENT_DATE - INTERVAL '30 days'
                    GROUP by catalog_id, brand_title, date
                        """
    df = pd.read_sql(sql_query, engine)
    return (df)

data = load_data()
data

      catalog_id        date  avg_price
0           1815  2024-03-12  17.400000
1           1850  2024-03-22  36.000000
2           1770  2024-03-07   8.000000
3           1525  2024-03-25   7.272727
4           1661  2024-03-24   4.181818
...          ...         ...        ...
9068         152  2024-03-29  11.000000
9069        1515  2024-03-11   2.782609
9070         234  2024-03-24   8.750000
9071        1642  2024-03-29   2.000000
9072         141  2024-03-31  12.000000

[9073 rows x 3 columns]